{% extends "base.html" %}

{% block zusatz_css %}
<style>
  fieldset.aussen {
    display: flex;
    display: -webkit-flex;
  }
  fieldset.doppelt > fieldset, fieldset.doppelt > input {
    border-radius: 6pt;
    box-shadow: 4px -2px 4px 2px gray;
    margin: 7px 9px 4px 4px;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }
</style>
{% endblock zusatz_css %}

{% block content %}
  <form action="" method="POST">
    {% csrf_token %}
    <fieldset class="doppelt">
      <legend>Meine Profildaten</legend>
        <fieldset>
          {{ form.as_p }}
        </fieldset>
      <input type="submit" value="Speichern"/>
      <ul>
        <li><a href="{% url 'Nutzer:email_aendern' %}">eMail-Adresse ändern</a></li>
        <li><a href="{% url 'password_change' %}">Mein Passwort ändern</a></li>
      </ul>
    </fieldset>
  </form>
{% endblock %}
