{% extends "base.html" %}
{% block content %}
<h3>So ne Art Impressum</h3>
<p>...geschrieben von ilja, nach einer zehn Jahre alten Idee <br>
unter Mitwirkung von Margarete, mit großer Liebe für's irrelevante Detail <br>
Dank geht auch an alle, die durch seelisch-moralische, testende und mitwirkende Unterstützung geholfen haben und helfen werden (wie wär's mit... Dir!?) <br>
Dank geht auch an die Erfinder des Computers, des Internets, an Entwickler von python, django, nginx, apache...; für sehr sehr viele hilfreiche Antworten auf stackoverflow, an die Gründer von stackoverflow, ... die Liste lässt sich in diese Richtung noch lange fortsetzen, sowie auch in die andere Richtung bis in die graue Vorzeit, für alle guten Beiträge der vergangenen Generationen, die die Welt, in die wir uns hineingeboren finden, mitgeschaffen und geformt haben... <br><br>

ach, übrigens:</p>
{% lorem 7 p %}
{% endblock %}
